table thead th:nth-child(3) {
    width: 230px;
}

table thead th:nth-child(4) {
    width: 200px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
}